.our-advantages {
  background-color: var(--main-title-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.advantages-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -15px;
  }
}

.advantages-list__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 2 * 15px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 2 * 15px);
    margin: 15px;
  }
}

.icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
